/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: rgb(75,47,156);
    background: linear-gradient(90deg, rgba(75,47,156,1) 0%, rgba(146,112,190,1) 42%, rgba(127,66,241,1) 100%);
}
